.containerProfile {
  width: 400px;
  margin: 5% auto;
  padding: 20px;
  background-color: #f8f3f3;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerProfile h2 {
  margin-bottom: 20px;
  margin-top: 10%;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.containerProfile p {
  margin-bottom: 10px;
  color: #555;
  font-family: 'Arial', sans-serif;
}

.containerProfile p strong {
  color: #000;
}
