* {
  justify-content: center;
  align-items: normal;
  box-sizing: border-box;
}

.containerProfile {
  width: 30%;
  height: 50%;
  background-color: #ffffff;
  border: 10px solid #fc5d00;;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: -15%;
}

.profile{
width: 100%;
height: 100vh;
display: flex;
}

.containerProfile h2 {
  margin-bottom: 20px;
  margin-top: 10%;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.containerProfile p {
  margin-bottom: 10px;
  color: #555;
  font-family: 'Arial', sans-serif;
}

.containerProfile p strong {
  color: #000;
}

.containerProfile b {
  color: #000;
  font-weight: 800;
}


@media only screen and (max-width: 600px) {
    

.containerProfile {
  width: 80%;
  height: 60%;
  background-color: #ffffff;
  border: 10px solid #fc5d00;;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: -15%;
}

}