.listContent {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

table button {
  border: none;
  padding: 20px 20px;
  background-color: #ffffff00;

}


table button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.edit input{
  background-color: #fff;
}

.status{
  font-size: 20px;
  margin-bottom: 3px
}


.listContent h1 {
  position: absolute;
  top: 20%;
  text-align: center;
  color: #fc5d00;
}


table {
  margin-top: 10%;
  border-collapse: collapse;
  width: clamp(80%, 80%, 80%);
  text-align: center;
}

th,
td {
  padding: 16px;
  text-align: center;

}

th {
  background-color: #ee8600;
  color: white;
  font-weight: bold;
  text-align: center;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
  padding: 16px;


}

tr.inativo {
  background-color: #ffcccc;
}

td:first-child,
th:first-child {
  text-align: center;
}

/* Subtítulos para cada coluna */
th:nth-child(1)::after {
  content: "";
}

th:nth-child(2)::after {
  content: "";
}

th:nth-child(3)::after {
  content: "";
}

th:nth-child(4)::after {
  content: "";
}

th:nth-child(5)::after {
  content: "";
}


tbody hr {
  height: 3px;
  background: rgb(119, 116, 116);
  visibility: hidden;
}

.Pesquisa {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  width: 200px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  height: 10%;
}

.ordenacao {
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  margin: 0px 10px;
}

option {
  font-size: medium;
  font-weight: bold;

}

.BarraPesq {
  position: absolute;
  top: 25%;
  left: 10%;
}


/*===Edição na tabela===*/


.edit-user-modal {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  position: absolute;
  left: 29%;
  top: 30%;
}

.edit-user-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.edit-user-modal label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
}

.edit-user-modal input[type="text"],
.edit-user-modal input[type="email"],
.edit-user-modal input[type="password"] {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}

.edit-user-modal input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  cursor: pointer;
}

.edit-user-modal button {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background-color: #ffffff70;
  margin-top: 10px;
}

.edit-user-modal button:last-child {
  margin-right: 0;
}

/*======= PAGINAÇÃO ========*/

.pagination {
  display: flex;
  padding: 20px;
  cursor: pointer;
  gap: 5%;
  list-style: none;

}

/*=======  VIEW ========*/

.user-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 300px;
  position: absolute;
  left: 39%;
  top: 30%;
}

.deleteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 300px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


.user-modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-modal p {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-modal button {
  background-color: #fc5d00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.user-modal button:hover {
  background-color: #bd7044;
}


.arrow {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #fff transparent transparent transparent;
  }
  
  .arrow.asc {
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent #fff transparent;
  }
  
  .arrow.desc {
  border-width: 4px 4px 0 4px;
  border-color: #fff transparent transparent transparent;
  }



  /*=======  DELETE ========*/

  
#deleteButton  {
  background-color: #fc5d00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}


#deleteButtonSim {
  background-color: #b3adad;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.deleteSessao1{
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

#excluir{
width: 100%;
text-align: center;
position: none ;
color: #000000;
}

.deleteSessao2{
  justify-content: space-evenly;
  align-self: center;
  display: flex;
}

.SucessoDelete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 300px;
  position: absolute;
  left: 39%;
  top: 30%;
}

#deleteConfirm  {
  background-color: #fc5d00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .listContent {
    margin: 20px;
  }


  table {
    width: 100%;
  }
  
  td {
    display: block;
    width: 100%;
    
  }
  



  th  {
    display: block;
    width: 100%;
    border: 1px solid white;
    
  }

  th {
    text-align: center;
  }
 

  .listContent h1 {
    font-size: 1.5rem;
    top: 10%;
    max-width: 10%; 
  }

  .BarraPesq {
    top: 20%;
  }

  .edit-user-modal {
    width: 90%;
    left: 50%;
    top: 20%;
  }

  .user-modal {
    width: 90%;
    max-width: none;
    height: auto;
    left: 50%;
    top: 20%;
  }

 

  .SucessoDelete {
    width: 90%;
    max-width: none;
    height: auto;
    left: 50%;
    top: 20%;
  }

  
.BarraPesq {
  display: none;
}

.listContent h1 {
  position: absolute;
  top: 10%;
  left: 37%;
  text-align: center;
  color: #fc5d00;
}
 

tr:nth-child(even) {
  background-color: #e9e9e9;
  padding: 16px;
}


tr.inativo {
  background-color: #f1aaaa;
}

tbody hr {
  height: 3px;
  background: rgb(119, 116, 116);
  visibility: visible;
}


  table {
    margin-top: 20%;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
  }



  .deleteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 300px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .edit-user-modal {
    width: 100%;
    left: 0%;
    top: 25%;
  }
  
  .user-modal {
    left: 0%;
  }







}
  
