.contato-input {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;

}

.contato-input input {
  font-size: 20px;
  height: 40px;
}


.contato-text h2 {
  font-size: 28px;
  margin-top: 1%;
  margin-left: 20%;
  
}


#formulario {
  font-size: 19px;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 10%;
}


.contato-text h3 {
  font-size: 23px;
  margin-top: 3%;
}


.contato-input span {
  width: 50%;
  height: 20%;
  font-size: 20px;
}

.ContContent {
  width: 100%;
  height: 60vh;
  display: flex;
}

.ContContent h1 {
  text-align: center;
  color: #fc5d00;

}

.contTitulo {
  font-size: 24px;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;

}

.btn-contact {
  border-radius: 15px;
  background-color: #fc5d00;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 40%;
  height: 10%;
  border: none;

}

.contato-text hr{
  display: none;
}



/*==== Imagem do mapa ====*/
#local {
  width: 60%;
  border: 1px solid black;

}

/*============*/


@media only screen and (max-width: 600px) {
  .contato {
    flex-direction: column;
  }

  .contato-input {
    width: 100%;
  }

  .contato-text {
    width: 70%;
    margin-top: 20%;
    justify-content: center;
    text-align: center;
  }

  .ContContent {
    flex-direction: column;
  }

  .contato-input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100%;
  
  }

  #local {
    display: none;
  }
  
  .contTitulo {
    font-size: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
  
  }

  .contato-text hr{
    display: block;
    margin-top: 10%;
  }


  .contato-text h2 {
    font-size: 15px;
    margin-top: 0%;
    margin-left: 0%;
    
  }
  
  #endereco{
    color: #fc5d00; 
    font-size: 25px;
  }

  .btn-contact {

    font-size: 15px;
    margin-top: 7%;
    width: 50%;


  }
}
