.containerDash {
  width: 100%;
  justify-content: center;
  align-self: center;
}

.cubo {
  width: 30%;
  height: 30%;

}

.containerDash h1 {
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  color: #fc5d00;
}



.cubos {
  gap: 10%;
  width: 100%;
  display: flex;


}




